
    


    #div-img-fundo-header #span2 {
        color: rgb(148, 32, 32);
        font-size: 3.0em;
        justify-content: center;
        align-items: center;
    }

    #div-img-fundo-header #span3 {
        color: rgb(219, 27, 27);
        font-size: 1.1em;
        justify-content: center;
        align-items: center;
    }

    #div-img-fundo-header #btn_callaction_header {
        background-color: rgb(76, 116, 247);
        color: rgb(255, 255, 255);
        font-size: 1.3em;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4%;
        padding: 2vw 12vw 2vw 12vw;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 100vw;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.39);
    }


    body::-webkit-scrollbar {
        display: none;
        /* Esconde a barra no Chrome, Safari e Edge */
    }


    #secao-de-opcoes {
        margin-bottom: 20px;

    }





    #div-img-foto-carro {
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.315), -1px -1px 7px rgba(0, 0, 0, 0.315);
        height: 240px;
        overflow: hidden;
    }




    #descricao {
        font-size: 22px;
    }

 



    #div-informacoes {
        width: 30%;
        height: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid black;
    }

    #div-informacoes span {
        font-size: 13 px;
    }

    #div-img-foto-carro {
        background-color: rgba(255, 14, 14, 0.952);
    }


    #opcoes a {
        color: inherit;
        background-color: inherit;
        text-decoration: none;
        padding: 5% 30%;
    }

    .div-encomendar{
        background-color: initial;
        width: 30%;
        height: 40px;
        background-color: inherit(255, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid black;
        background-color: inherit;
    }


