.div_footer_conteiner {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.div_footer_conteiner a {
    text-decoration: none;
    color: black;
}

.div_footer_conteiner .conteiner_ES {
    background: linear-gradient(135deg, #0000f04f, #8000807a);
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_footer_conteiner .conteiner_ES .div_footer_contatos_ES {
    height: 60%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;

}

.div_footer_conteiner .conteiner_ES .span_contato {
    margin: 0px 4px;
    height: 30px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: inherit;
    color: black;
    padding: 0px 6px;
    border-radius: 4px;
    border: 1px solid #0000f0;
}

.div_footer_conteiner .conteiner_MC {
    background: linear-gradient(135deg, #8000807a, #0000f04f);
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_footer_conteiner .conteiner_MC .div_footer_contatos_MC {
    height: 60%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;

}

.div_footer_conteiner .conteiner_MC .span_contato {
    margin: 0px 4px;
    height: 30px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: inherit;
    color: black;
    padding: 0px 6px;
    border-radius: 4px;
    border: 1px solid #0000f0;
}

.div_footer_conteiner .conteiner_MC #span_avaliacao {
    height: 40px;

}

