

#menu_inicial #icones {
    display: flex;
    gap: 35px;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0);
    position: absolute;
    right: 0%;
}

#menu_inicial div img {
width: 70px;
height: 30px;
background-color: rgba(0, 255, 255, 0);

}


#menu_inicial  .icon {
    width: 10px;
    height: 10px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    
}
    

