  .opcoes {}

  .opcoes .div-img-foto-carro {}


  .opcoes .class-img-opcao {}

  .opcoes .div-descricao {}

  .opcoes .descricao {}

  .opcoes .div-conteiner-btn {
      background-color: inherit;
  }

  .opcoes .div-conteiner-btn {}

  .opcoes .div-conteiner-btn .div-btn-comprar {}