/* tablet pequeno */
@media (min-width: 601px) and (max-width: 768px){
    .div-img-fundo-header {
        background-size: 250% 100%;
    }
    
    .div-img-fundo-header   .discricao-header {
        height: 25%;
    }
    
    .div-img-fundo-header .discricao-header .div-contencao #span3 {
        font-size: 40px;
    }
    
}