.div-img-fundo-header {
    display: flex;
    overflow: hidden; 
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-position: 50% -50px;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-image: var(--img-fundo-header);
}

.div-img-fundo-header .menu_inicial  {
    display: flex;
    top: 1%;
    width: 95%;
    background-color: transparent;
    position: absolute;
    }

.div-img-fundo-header .menu_inicial .img-logo {
    background-color: inherit;
    display: flex;
    top: 0px;
    left: 1px;
    width: 30px;
    height: 33px;
}

.div-img-fundo-header   .discricao-header {
    width: 100%;
    align-self: flex-end;
    display: flex;
    background-color:  inherit;    
}


.div-img-fundo-header .discricao-header .div-contencao {
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100%;
    background-color:inherit;
    display: flex;
    justify-content: center;     
    align-items: center;

}