.div-img-fundo-header {
    display: flex;
    overflow: hidden;
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-position: 50% -50px;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-image: var(--img-fundo-header);
}

.div-img-fundo-header .menu_inicial {
    display: flex;
    top: 1%;
    width: 95%;
    background-color: transparent;
    position: absolute;
}

.div-img-fundo-header .menu_inicial .img-logo {
    background-color: inherit;
    display: flex;
    top: 0px;
    left: 1px;
    width: 30px;
    height: 33px;
}

.div-img-fundo-header .discricao-header {
    width: 100%;
    align-self: flex-end;
    display: flex;
    background-color: inherit;
}


.div-img-fundo-header .discricao-header .div-contencao {
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div_cont_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 20px;
    gap: 1rem;
    padding: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.37);
}

.div_cont_menu_btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: initial;
}

.div_cont_menu button {
    font-size: 1.4rem;
    border: none;
    background-color: rgba(0, 21, 255, 0.500);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;

}

.div_cont_menu i {
    color: rgb(255, 255, 255);
    background-color: initial;

}

.div_cont_menu span {
    color: aliceblue;
    text-align: center;
    background-color: initial;
}