
/* 
------------------------------------------------------------------------------------
================================  estilo para mobile ===============================
------------------------------------------------------------------------------------ 
*/
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    
}


/* 
------------------------------------------------------------------------------------
================================  estilo para mobile ===============================
------------------------------------------------------------------------------------ 
