/* 
------------------------------------------------------------------------------------
================================  estilo para mobile ===============================
------------------------------------------------------------------------------------ 
*/


	.carousel-container {
		display: flex;
		width: 100%;
		max-width: 100%;
		height: 500px;
		overflow: hidden;
		border: 2px solid #ffffff;
		border-radius: 8px;
		align-items: center;
		justify-content: center;
		margin-top: 0px;
		background-color: rgba(255, 0, 0, 0);
		
	}

	.carousel {
		display: flex;
		align-items: center;
		transition: transform 0.4s ease-in-out;
	}

	.slide {
		min-width: 100%;
		transition: transform 0.4s ease-in-out;
	}

	.slide img {
		width: 100%;
		display: flex;
	}

	.navegacao{
		display: flex;
		background-color: rgba(0, 0, 0, 0.0);
		width: 100%;
		height: 100px;
		position: absolute;
		align-items:center;
		justify-content: center;
		gap: 70%;

		
	}

	button {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.158);
	border: none;
	font-size: 25px;
	color: #ddd;
	}

	button:hover {
		background-color: rgba(0, 242, 255, 0.103);
	}

	button.prev {
		left: 10px;
	}

	button.next {
		right: 10px;
	}