body::-webkit-scrollbar {
    display: none;
    /* Esconde a barra no Chrome, Safari e Edge */
}


/* estilização do cabaçalho do body */
.div-span-apresentacao {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    background-color: rgb(255, 255, 255);
}

.div-span-apresentacao .spam-apresentacao {
    font-family: var(--font-destaque);
    font-optical-sizing: auto;
    font-size: 1.9em;
}

/* estilisação padrão do corpo do body */

.conteiner_opcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0);
}

.opcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(235, 228, 15);
    border: 1px solid rgba(0, 0, 0, 0.514);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0);
}

.opcoes .div-img-foto-carro {
    background-color: rgb(176, 7, 7);
    width: 100%;
    height: 50%;
}

.opcoes .class-img-opcao {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}