body::-webkit-scrollbar {
    display: none;
    /* Esconde a barra no Chrome, Safari e Edge */
}


/* estilização do cabaçalho do body */
.div-span-apresentacao {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    background-color: rgb(255, 255, 255);
}

.div-span-apresentacao .spam-apresentacao {
    font-family: var(--font-destaque);
    font-optical-sizing: auto;
    font-size: 1.9em;
}

/* estilisação padrão do corpo do body */

.conteiner_opcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
}

.opcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.514);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0);
}

.opcoes .div-img-foto-carro {
    background-color: transparent;
    width: 100%;
    height: 50%;
}

.opcoes .class-img-opcao {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.opcoes .div-descricao {
    display: flex;
    margin: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
    height: 30%;
}


.opcoes .descricao {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.opcoes .div-conteiner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
    background-color: transparent;
    height: 20%;
}


.opcoes .div-conteiner-btn .div-btn-comprar {
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(4, 0, 255, 0.527);
    margin: 0px 0px 15px 0px;
    width: 80px;
    box-shadow: 1px 1px 10px rgba(18, 91, 175, 0.37);
    background-color: transparent;

}
